<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
  <div data-id="bounces_count" data-view="Number" data-title="Taux de rebond" data-suffix="%" data-moreinfo="Par mois | Site Web"></div> 
</li>
