<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="newold_visitors" data-view="Pie" data-title="Nouveaux visiteurs" data-moreinfo="Par mois | Site Web"></div>
     </li>
